.header__logo {
    background-size: cover;
    object-fit: cover;
    width: 142px;
    height: 34px;
    margin: 0 0 41px 0px;
}

@media screen and (max-width: 920px) {
    .header__logo {
        margin-left: 19px;
    }
}

@media screen and (max-width: 620px) {
    .header__logo {
        width: 104px;
        height: 24.5px;
        margin-bottom: 31px;
    }
}