@import url(./__button/sign__button.css);
@import url(./__input/sign__input.css);
@import url(./__text/sign__text.css);
@import url(./__title/sign__title.css);

.sign {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: min-content;
}