.header-mobile__text_type_email {
    grid-column: 1/3;
    grid-row: 1;
    width: 100%;
    text-align: center;
    margin: 40px auto 9px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
}