.header-mobile__text_type_signout {
    grid-column: 1/3;
    grid-row: 2;
    width: 100%;
    text-align: center;
    cursor: pointer;
    color: #a9a9a9;
    text-decoration: none;
    margin: 9px auto 40px;
}

.header-mobile__text_type_signout:hover {
    opacity: .6;
}