@import url(./__logo/footer__logo.css);

.footer {
    position: absolute;
    bottom: 60;
    padding: 66px 19px 60px;
    margin: auto;
    max-width: 882px;
}

@media screen and (max-width: 620px) {
    .footer {
        padding: 48px 19px 36px;
    }
}