.header-mobile__text {
    margin: 30px 30px 0 auto;
    padding: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

.header-mobile__text:last-child {
    cursor: pointer;
    color: #a9a9a9;
    text-decoration: none;
}

.header-mobile__text:last-child:hover {
    opacity: .6;
}